*.log
*.aux
*.bbl
*.bcf
*.blg
*.lof
*.lot
*.out
*.run.xml
*.synctex.gz
*.toc
*.brf
*.idx
*.ilg
*.ind
*.fls
*.swp
*fdb_latexmk

Source/congealDemo/MNIST/train-labels-idx1-ubyte

*.pgm

Source/congealDemo/MNIST/t10k-images-idx3-ubyte

Source/congealDemo/MNIST/t10k-labels-idx1-ubyte

Source/congealDemo/MNIST/train-images-idx3-ubyte

m2html/

Source/Development/toy_example.png

*.jpeg
